<ul class="legend no-bullet">
  {{#each model.items as |legendItem|}}
    <li class="legend-item">
      {{component (concat "labs-map-legend-" legendItem.type)
        style=legendItem.style}}
      {{legendItem.label}}
      {{#if legendItem.tooltip}}
        <span class="tooltip float-right primary-color">
          {{fa-icon "info-circle"}}
          {{ember-tooltip text=legendItem.tooltip side="left" keepInWindow=false}}
        </span>
      {{/if}}
    </li>
  {{/each}}
</ul>

{{yield}}
